<p>welcome <%= @person.name %></p>
<% if @properties.any? %>
<% @properties.each do |p| %>

		
		<div>
			<p><%= p.street %></p>
			<p><%= p.city %></p>
			<p><%= p.state %></p>
			<p><%= p.zip %></p><br/>
		</div>
		<div>
			<p><%= p.price %></p>
			<%= link_to 'Purchase', property_path(p.id) %>
		</div>
		<% end %>
<%else %>
	<p>There are no properties</p>
<%end%>
<%= link_to 'Persons', person_index_path %>