<h1>Properties</h1>


<% if @properties.any? %>
	<% @properties.each do |p| %>

		<div class="row">
      <div class="col offset-s1 s3">
			<p><%= p.street %>,
			<%= p.city %>,
			<%= p.state %>
			<%= p.zip %></p>
      <p>Status:  <%= p.status == 1 ? 'For Sale' : 'Sold' %></p>
			<p>Price: <%= p.price %></p>
			<%= link_to 'Property Info', property_path(p.id) %>
      <hr />
      </div>
		</div>

		<% end %>
<%else %>
	<p>There are no properties</p>
<%end%>
	<%=link_to 'add property', new_property_path %>
