<!DOCTYPE html>
<html>
<head>
  <title>RealEstate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>


<nav>
    <div class="nav-wrapper">
<ul>
        <li>welcome <%= current_user.name if current_user %></li>
        <li><%= link_to 'edit', edit_user_registration_path %></li>
        <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
     
      </ul>
    </div>
  </nav>

</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
